@media (min-width: 1400px) {
  /*  */
  .container_xxl {
    @apply max-w-[86vw];
  }
  .hero_dark_img {
    @apply relative w-[35vw] max-w-[700px] left-2/4;
  }
  .hero_dark {
    @apply items-center;
  }
  /* light > sec 3 */
  .browser_window .signal_icon {
    @apply top-[-90px] left-[-90px];
  }
}
@media (min-width: 1700px) {
  /*  */
  .browser_window .signal_icon {
    @apply top-[-100px] left-[-100px];
  }
}
@media (min-width: 2000px) {
  /*  */
  .container_xxl {
    @apply max-w-[75vw];
  }
  .browser_window .signal_icon {
    @apply top-[-28%] left-[-18%];
  }
}
@media (min-width: 2500px) {
  /*  */
  .container_xxl {
    @apply max-w-[calc(2500px_-_20vw)];
  }
}
@media (max-width: 1650px) {
  .exchangeFormChart .hero_light_right_form_row_left {
    @apply w-[11vw];
  }
}
@media (max-width: 1200px) {
  /* light > header */
  .res_nav {
    @apply relative visible opacity-[99999];
  }
  .res_nav_main {
    @apply invisible opacity-[0000000];
  }
  .navbar_nav1 {
    @apply w-full ml-0 pr-0;
  }
  .navbar_nav1 li a {
    @apply text-center px-5 py-2.5;
  }
  .change_language_btn {
    @apply border-l-[none];
  }
  /* dark > header */
  .hero_dark_img {
    @apply w-full max-w-none;
  }
  .navbar_nav2 {
    @apply w-full ml-0 pr-0;
  }
  .change_language_btn2 {
    @apply border-l-[none];
  }
  .navbar_nav2 li a {
    @apply text-center px-5 py-2.5;
  }
  .offcanvas_dark {
    background: var(--txt_dark);
  }
  .offcanvas_dark .btn-close {
    @apply bg-[url("../Utils/img/cross\_white.svg")];
  }
  /* light > sec_2  */
  .row_light_2 {
    @apply flex-wrap;
  }
  .row_ligth_2_left {
    @apply max-w-[500px] w-full;
  }
  .row_ligth_2_right {
    @apply max-w-[800px] w-full flex items-center justify-between mx-auto;
  }
  /* sec_light_4 */
  .sec_light_4 {
    @apply mt-[-60px] py-[100px];
  }
  /* footer light */
  .footer {
    @apply mt-[-100px] pt-[140px] pb-5;
  }
  .footer::after {
    clip-path: polygon(0 13%, 100% 0%, 100% 99%, 0% 100%);
  }
  .footer_box_lg {
    @apply w-[calc(48%_-_20px)] mb-10;
  }
  /* footer dark */
  .footer2 .footer_box_lg {
    @apply w-[35%] mb-0 first:mb-[30px];
  }
  .footer2 .footer_box_sm {
    @apply w-[21.6666666667%] flex justify-center;
  }
  /*  */
  #exchangeForm2 {
    @apply flex-wrap;
  }
}
@media (max-width: 992px) {
  /* light > header */
  .hero_light {
    @apply flex-wrap;
  }
  .hero_light_left {
    @apply flex-none w-full mr-0 mb-[30px];
  }
  .hero_light_right {
    @apply w-full max-w-[500px] mx-auto;
  }
  /* light > section 2 */
  .sec_light_2 {
    @apply py-[50px];
  }
  /* light > section 3 */
  .sec_light_3 {
    @apply pt-[50px] pb-5;
  }
  .browser_window .signal_icon {
    @apply absolute top-[-11%] left-[-7%];
  }
  /* light > section 4 */
  .sec_light_4 {
    @apply mt-[-100px] after:translate-y-[-60px];
  }
  .sec_light_4::after {
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
  }
  /*  */
  .right_box_shadow_img {
    @apply top-[60%];
  }
  .magic_slider {
    @apply w-[calc(100%_+_20px)];
  }
  /*  */
  #exchangeForm2 {
    @apply gap-[20px_10px] p-5;
  }
}
@media (max-width: 768px) {
  /* light > header */
  .site_logo_light img {
    @apply w-[140px];
  }
  /* sec_light_4 */
  .sec_light_4 {
    @apply pb-[120px];
  }
  /* light > footer */
  .footer {
    @apply pt-[120px];
  }
  .footer::after {
    clip-path: polygon(0 10%, 100% 0%, 100% 99%, 0% 100%);
  }
  .footer_box_lg {
    @apply w-[calc(70%_-_20px)] mb-10;
  }
  .footer_box_sm {
    @apply w-[calc(30%_-_20px)] mb-10;
  }
  /* sandbox */
  #sandbox_connect_wallet::before,
  #sandbox_create_account::before {
    @apply hidden;
  }
}
@media (max-width: 767px) {
  .faq_left_sticky_sidebar {
    @apply static;
  }
  /* footer dark */
  .footer2 .footer_row {
    @apply justify-center gap-[40px_0];
  }
  .footer2 .footer_box_lg {
    @apply w-2/5 flex justify-center mb-0 first:mb-[30px];
  }
  .footer2 .footer_box_sm {
    @apply w-[30%] flex justify-center mb-0;
  }
  /* blog */
  .blog_p_header_wrapper {
    @apply border-[none];
    clip-path: polygon(
      3% 0,
      100% 0,
      100% 100%,
      100% 98%,
      98% 100%,
      0 100%,
      0 100%,
      0 3%
    );
  }
  .blog_p_header_wrapper::before {
    clip-path: polygon(
      3% 0,
      100% 0,
      100% 100%,
      100% 98%,
      98% 100%,
      0 100%,
      0 100%,
      0 3%
    );
  }
  .blog_p_header_wrapper::after {
    clip-path: polygon(
      3% 0,
      100% 0,
      100% 100%,
      100% 98%,
      98% 100%,
      0 100%,
      0 100%,
      0 3%
    );
  }
  /* markets */
  .market_table_bottom {
    @apply flex-col;
  }
  .market_table_bottom > p {
    @apply mb-2.5;
  }
}
@media (max-width: 600px) {
  /* light > sec_2 */
  .row_ligth_2_right {
    @apply flex-wrap;
  }
  .ligth_2_white_boxes {
    @apply w-full;
  }
  /* footer dark */
  .footer2 .footer_row {
    @apply justify-center gap-[40px_0];
  }
  .footer2 .footer_box_lg {
    @apply w-full flex justify-center text-center mb-0 first:mb-[30px];
  }
  .footer2 .footer_box_sm {
    @apply w-[32%] flex justify-center text-center mb-0;
  }
}
@media (max-width: 567px) {
  /* light > sec_2 */
  .ligth_2_white_boxes {
    @apply mb-5;
  }
  .ligth_2_white_box:not(:last-child) {
    @apply mb-5;
  }
  /* sec_light_4 */
  .sec_light_4 {
    @apply pb-[140px];
  }
  /* light > footer */
  .footer_box_lg {
    @apply w-full mb-10;
  }
  .footer_box_sm {
    @apply w-[calc(50%_-_20px)] mb-10;
  }
  .footer {
    @apply pt-[90px];
  }
  .footer::after {
    clip-path: polygon(0 5%, 100% 0%, 100% 99%, 0% 100%);
  }
  /* markets */
  .trending_coins_input {
    @apply w-full flex justify-end mt-5;
  }
  .trending_coins_input input {
    @apply flex-[1];
  }
  .market_table_pagination button {
    @apply text-xs;
  }
}
@media (max-width: 480px) {
  /* light > header */
  .hero_light_right_form_row_left {
    @apply flex-none w-[65%];
  }
  .hero_light_right_form_row_right {
    @apply w-fit;
  }
  .dropDownDark2 {
    @apply max-w-[80px] ml-auto;
  }
  .exchangeInp2 {
    @apply w-6/12;
  }
  .exchangeInp2 > div {
    @apply w-full;
  }
  .wrapDownDark2 {
    @apply flex-[1];
  }
  #exchangeForm2 .flex-grow-1 {
    @apply w-full;
  }
  /* footer dark */
  .footer2 .footer_box_lg {
    @apply flex-[1] first:mb-[30px];
  }
  .footer2 .footer_logo_box {
    @apply w-full flex-none;
  }
  .footer2 .footer_box_sm {
    @apply w-6/12 flex justify-center text-center mb-0;
  }
  /* swapee-chart */
  .exchangeFormChart .hero_light_right_form_row_left {
    @apply flex-[1] w-2/5;
  }
}
@media (max-width: 400px) {
  /* light > header */
  .hero_light_right_form_row_left {
    @apply w-3/5;
  }
  /* footer 2 */
  .footer2 .footer_box_sm {
    @apply w-full;
  }
  /*  */
  .faq_btn_gradient span {
    @apply text-[10px];
  }
  /*  */
  .exchangeInp2 {
    @apply w-6/12 w-2/5;
  }
  .exchangeInp2 > div {
    @apply w-full;
  }
}
